body{
  background: #dc3545;
  /* background: #0bc781; */
}

.static-slider10 {
    padding: 3% 0;
}

.label-danger{
  background: #dc3545;
}

#content{
  padding: 55px 0px;
}

.label{
  color: #212529;
  font-size: 80%;
  font-weight: 500;
}

#kode, #copyright{
  color: #f4f8fa;
}
